.cardrestaurant {
    i {
        color: $yellow;
    }

    .card-wrapper {
        width: 400px;
        height: 500px;
        position: relative;
    }

    .card {

        .brandname {
            text-align: center;
            z-index: 10;
            font-size: 30px;
            padding-top: 20px;
            background-color: rgb(var(--bs-light-rgb));
            height: 3em;
            opacity: 0.7;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        width: 350px;
        height: 450px;
        transform: translate(-50%, -50%);
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: 0.5s;
    }

    .card .card-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #202020;
        transition: 0.5s;
    }

    .card:hover img {
        opacity: 0.2;
        transition: 0.5s;
    }

    .card:hover .card-image {
        transform: translateY(-100px);
        transition: all 0.9s;
    }

    /**** description *****/
    .container-description {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    .container-description>.description {
        font-size: 1.2rem;
        text-align: center;
        padding-top: .5rem;
        font-weight: bold;
        margin: 0 6px;
        transition: 0.4s;
        opacity: 1;
    }

    .card:hover .container-description {
        color: #fff;
        transform: translateY(0px);
        opacity: 1;
    }

    /**** Details ****/
    .details {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 120px;
        z-index: 1;
        padding: 10px;
        opacity: 1;
        color: #000;
    }

    .details h6 {
        font-size: 1rem !important;
        margin: 30px 0;
        padding: 0;
        text-align: center;
    }

    .details h6 .more-details {
        font-size: 1rem;
        line-height: 2.5rem;
        font-weight: bolder;
    }
}
