//sezione navbar
nav{
    padding-top: 0rem!important; 
    padding-bottom: 0rem!important;

    background-color: #cdbfe2;

    &.background-scroll-change{
        background-color: $orange!important;
    }

    .navbar-collapse {
        flex-grow: 0!important;
    }

    .nav-link:hover, .nav-link:focus{
        color: #ffffff;
    }

    div.container{
        height: 120px;

    }

    .navbar-toggler {
        background-color: #ff2c63!important;
        border: none;
    }

    span{
        &.navbar-toggler-icon{
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png)!important;
        }
    }
    .navbar-brand{

        .img{
            display: none;
        }
        .img{
            &.d-block{
                display: block;
            }
        }
        
        a{
            text-decoration: none;
            color: $indigo; 
            text-transform: uppercase;
            font-weight: bolder;
        }
    }

    button{
        &.btn.indigo{
            background-color: $indigo;
            a{
                color: #ffffff;
            }
        }
        &.btn.indigo:hover{
            background-color: $red;
            a{
                color: #000;
            }
        }
    }
}

//colori link
 .white
{
      color: white;
}
.a, .black
{
      color: #000000;
}

.kokohover.input-group {
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 26rem;
}

