#search_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background: rgb(255,208,15);
    background: linear-gradient(90deg, rgba(255,208,15,1) 49%, rgba(208,80,38,1) 100%);
}
// #home{
//     margin-top: 40px;
// }

#cont-logo {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

#float-title {
    position: relative;
    text-align: center;
    color: #5c2e4d;
    text-shadow: 3px 3px 6px white;
    font-size: 70px;
}

// input {
//     padding: 5px 15px;
//     height: 40px;
//     width: 400px;
//     border-radius: 14px;
// }

.container {
    text-align: center;
}

#banner_svg {
    background: rgb(255,208,15);
    background: linear-gradient(90deg, rgba(255,208,15,1) 49%, rgba(208,80,38,1) 100%);
}



.sfumatura_header{
    background-color: #cdbfe2;
    background-image: var(--bs-gradient);
}

.nav-link:hover, .nav-link:focus{
    color: #ffffff;
}