#search_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background: rgb(255,208,15);
    background: linear-gradient(90deg, rgba(255,208,15,1) 49%, rgba(208,80,38,1) 100%);

    #cont-logo {
        display: flex;
        align-items: center;
    
        #cont-img-home{

            img {
                width: 100%;
            }
        }
    
    }
}

#float-title {
    position: relative;
    text-align: center;
    color: #5c2e4d;
    text-shadow: 3px 3px 6px white;
    font-size: 70px;
}

#banner_svg {
    background: rgb(255,208,15);
    background: linear-gradient(90deg, rgba(255,208,15,1) 49%, rgba(208,80,38,1) 100%);
}


// sezione css top ten restaurants
#top-restaurant{

    padding-bottom: 8rem;

    .row{
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: start!important;
    }
    .row-cols-2 > * {
        width: 40%!important;
    }
}

#title-top-restaurants{
    
    img{
        height: 140px;
        width: 140px;
    }

    span{
        &.spancontainer{
            position: relative;
            z-index: 3;
        }
        &.highlights{
            background-color: $red;
            // border-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            width: 6rem;
            height: 2.5rem;
            display: block;
            position: absolute;
            top: 0;
            left: -2%;
            z-index: -1;
        }
    }
}