
#shop {
    width: 90%;
    margin: 0 auto;
    position: relative;
    font-size: 0.6em;

    
    #dashboard_box {

        #dashboard_img {

            img {
                
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        #dashboard_cont {

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    #dishes_box {

        #category_section {

            .category_title {
    
                color: $red;
                box-shadow: #ff2c63 20px 0px 0px 0px;
                border-radius: 20px;
                padding: 0.5rem;
                font-size: 2.5em;
                font-weight: 900;
            }
        }


        &.ant{
            
            order: 1;
        }
        &.pri{
            
            order: 2;
        }
        &.sec{
            
            order: 3;
        }
        &.piz{
            
            order: 4;
        }
        &.des{
            
            order: 5;
        }
        &.bib{
            
            order: 6;
        }

        .dish_card {

            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.03);
            overflow-wrap: break-word;
            box-shadow: rgba(255, 44, 100, 0.5) 4px 4px 5px 0px;
        
            img {
        
                height: 100%;
                max-height: 180px;
                object-fit: cover;
                border-radius: 2em;
            }
        }
    

        .cart-message {

            position: fixed;
            top: 40%;
            right: 50%;
            transform: translate(50%, 0);
            color: #ffffff;
            padding: 1em 1.5em;
            border-radius: 2em;
            font-size: 2em;
            z-index: 4000;
        
            &.cart-add {
        
                background-color: rgba(0, 128, 0, 0.833);
            }
        
            &.cart-remove {
        
                background-color: rgba(255, 46, 102, 0.833);
            }
        }
    }

    
    #icon-cart {
        height: 3.5rem;
        width: 3.5rem;
        background-color: #cdbfe2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        position: fixed;
        right: 2rem;
        top: 13.5rem;
        z-index: 2000;

        #cont_icon {

            position: relative;
        }

        #count {
            position: absolute;
            top: -18px;
            right: -20px;
            border-radius: 50%;
            min-width: 25px;
            min-height: 25px;
            background: $red;
            color: white;
            text-align: center;
            padding: 2px;
            font: 18px Arial, sans-serif;
            font-weight: bold;
        }

        i {
            font-size: 3em;
            color: black;
        }

        &:hover {

            cursor: pointer;
        }
    }
}

#cart-box {

    height: 100%;
    border: 3px rgba(255, 44, 100, 0.6) solid;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1000;
    text-align: center;
    position: sticky;
    top: 14rem;
    font-size: 2em;
    justify-content: space-evenly !important;

    .border_bottom:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 60%;
        padding-top: 20px;
        border-bottom: 1px solid rgb(255, 44, 100);
    }

    .add_remove {

        color: white;
        width: 1rem;
        height: 1rem;
        background-color: rgb(255, 44, 100);
        font-size: 1rem;
        font-weight: 900;
        cursor: auto;
    }

    i {
        color: rgb(255, 44, 100);
        font-size: 1.5em;
    }
}

@media (max-width: 991.98px) {

    #cart-box {

        height: initial;
        position: fixed;
        top: 16rem;
        left: 0;
        background-color: #fff;
    }
}