
#shop {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    position: relative;

    
    #dashboard_box {

        #dashboard_img {

            img {
                
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 70vw;
            }
        }

        #dashboard_cont {

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    #dishes_box {

        .category_box {

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
    
            &.ant{
                
                order: 1;
            }
            &.pri{
                
                order: 2;
            }
            &.sec{
                
                order: 3;
            }
            &.piz{
                
                order: 4;
            }
            &.des{
                
                order: 5;
            }
            &.bib{
                
                order: 6;
            }

            .dish_card {

                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 2em;
                overflow-wrap: break-word;
            
                img {
            
                    height: 100%;
                    max-height: 300px;
                    object-fit: cover;
                    border-radius: 2em;
                }
            }

            .cart-message {

                position: fixed;
                top: 40%;
                right: 50%;
                transform: translate(50%, 0);
                color: #ffffff;
                padding: 1em 1.5em;
                border-radius: 2em;
                font-size: 1.5em;
                z-index: 4000;
            
                &.cart-add {
            
                    background-color: rgba(0, 128, 0, 0.733);
                }
            
                &.cart-remove {
            
                    background-color: rgba(255, 46, 102, 0.733);
                }
            }
        }
    }

    
    #icon-cart {
        height: 3.5rem;
        width: 3.5rem;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        position: fixed;
        right: 2rem;
        top: 13.5rem;
        z-index: 2000;

        #cont_icon {

            position: relative;
        }

        #count {
            position: absolute;
            top: -18px;
            right: -20px;
            border-radius: 50%;
            min-width: 25px;
            min-height: 25px;
        
            background: $red;
            color: white;
            text-align: center;
            padding: 2px;
            font: 18px Arial, sans-serif;
            font-weight: bold;
        }

        i {
            font-size: 2em;
            color: black;
        }

        &:hover {

            cursor: pointer;
        }
    }
}

#cart-box {

    height: 100%;
    border: 3px $yellow solid;
    border-radius: 2em;
    background-color: rgba(205, 191, 226, 0.85);
    z-index: 1000;
    text-align: center;
    overflow-wrap: break-word;
    position: sticky;
    top: 14rem;
}

.btn-orange {

    background-color: #d05026;
    border-color: #d05026;
}

@media (max-width: 991.98px) {

    #cart-box {

        height: initial;
        position: fixed;
        top: 16rem;
        left: 0;
    }
}