#shop {

    width: 80%;
    margin: 0 auto;
    #flex{

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .dish_box {
        width: calc((100% / 3) - 2%);
        margin: 0 1%;
        padding: 20px;
    }

    #count {
        background-color: red;
        border-radius: 25%;
    }
}