#together{
    background-color: $grey;

    #cards{
        .card-group{
            background-color: $grey;
            a{
                text-decoration: none;
            }
            .btn-pink{
                background-color: #ff2c63!important;
            }
            .btn-indigo{
                background-color: $indigo!important;
            }

            .card{
                background-color: $grey;
                border: none;
                cursor: pointer;

                .position-relative{
                    img:nth-child(2){
                        bottom: 0;
                        z-index: 3;
                        left: 0;
                    }
                }
            }
            .card:first-child{
                .card-body{
                    background-color: $red;
                }
            }
            .card:nth-child(2){
                .card-body{
                    background-color: $indigo;
                }
            }
            .card:nth-child(3){
                .card-body{
                    background-color: $greenDark;
                }
            }
        }
    }

    // img{
    //     height: 140px;
    //     width: 140px;
    // }

    // span{
    //     &.spancontainer{
    //         position: relative;
    //         z-index: 3;
    //     }
    //     &.highlights{
    //         background-color: $red;
    //         // border-radius: 15px;
    //         border-top-right-radius: 15px;
    //         border-bottom-right-radius: 15px;
    //         width: 5rem;
    //         height: 1.575rem;
    //         display: block;
    //         position: absolute;
    //         top: 0;
    //         left: 88%;
    //         z-index: -1;
    //     }
    // }
}