// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #390075;
$purple: #9561e2;
$pink: #ff7bc0;
$red: #ff2c63;
//$orange: #f6993f;
$yellow: #f9db03;
$green: #11ef45;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$orange:rgba(208,80,38,1);