// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'header';

@import 'home.scss';

@import 'resturants.scss';

@import 'card.scss';

@import 'shop.scss';

@import 'stripe.scss';

@import '_footer.scss';

@import '_jumbotron';

html {

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   h2{
       font-size: 2.5em;
   }
    background-color: #fff;
}
.visibility{
    display: none;
}


#content {
    padding: 4em 0em;
}